################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Main/bin/Debug/netcoreapp2.1
/Main/obj
/VisitorManagement.DataAccess/bin/Debug/netcoreapp2.1
/VisitorManagement.DataAccess/obj
/.vs/VisitorManagement/v15
/.vs/VisitorManagement/v16
/Main/wwwroot/images
/emailfunctionality/obj/Debug/netcoreapp2.1
/emailfunctionality/obj/Release/netcoreapp2.1
/emailfunctionality/obj/emailfunctionality.csproj.nuget.cache
/emailfunctionality/obj
/emailfunctionality/Class1.cs
/emailfunctionality/bin/Debug/netcoreapp2.1/emailfunctionality.deps.json
/emailfunctionality
/Main
